 {% extends 'base.html' %}

{% block content %}

 <div class="container">

      <div class="row">
        <div class="col-12">
          <p class="text-center">
          <h3 class="text-center">SANMATI ENGINEERING COLLEGE WASHIM</h3>
          <h4 class="text-center">SANT GADGE BABA AMRAVATI UNIVERSITY</h4>

<br><br>
<hr>
<h2 class="text-center">"DESIGN AND IMPLEMENTATION OF HEALTHCARE SYSTEM
  TO RECOMMEND GUIDELINES FOR DIET AND EXERCISE"</h2>
  <hr><br>

          <h3 class="text-center">A PROJECT REPORT</h3>
          <h5 class="text-center">Submitted By</h5>

          <h2 class="text-center">Miss. Swati Pakhale</h2>
<br><br>
          <h5 class="text-center">Submitted to</h5>
<h6 class="text-center">Department of Computer Science and Engineering,<br>
  SANMATI ENGINEERING COLLEGE , WASHIM</h6>
</div>


    </div>

 {% endblock %}