{% extends 'base.html' %}

{% block content %}

<div class="container">
            <h3>ABSTRACT</h3>
      <div class="row">
        <div class="col-12">
          <p class="text-justify">There has been an increase in the number of patients with various diseases every year where diet and exercise is one of the major factors. Treating disease and recommending the diet and exercise is required to efficiently manage health conditions of patients. In this paper, we considered some major disease viz. Heart, Thyroid, Eye and Brain and a system has been designed and developed that recommends probable diet and exercise to help people manage their health well. This system analyses the input parameters that are entered by the end user and provides personalized services for users in the form of recommendations for their diet and exercises. The recommendation is done using user interface based on lab test and symptoms initially entered by hospital staff given by patient.

 </div>
        <div class="col-12">
          <p class="text-justify">The disease prevention plays an important role in improving the public health. It reduces the risk of some of the diseases may come in the future. The proposed system determined the disease and recommends the suitable diet and exercises. The experimental results show that the performance of our proposed system is efficient in determining the disease and recommending the diet and exercise.
</div>
        <div class="col-12">
          <p class="text-justify">“Disease Prediction” system based on predictive modeling predicts the disease of the user on the basis of the symptoms that user provides as an input to the system. The system analyzes the symptoms provided by the user as input and gives the probability of the disease as an output
Disease Prediction is done by implementing the Naïve Bayes Classifier. Naïve Bayes Classifier calculates the probability of the disease. Therefore, average prediction accuracy probability 60% is obtained.
</div>

        <div class="col-12">
          <p class="text-justify">
            <b>CARE </b> Collaborative Assessment and Recommendation Engine<br>
            <b>ICD </b> International Classification Of Disease.<br>
            <b>NB</b> Naïve Bayes<br>
            <b>HTML</b> HyperText Markup Language<br>
            <b>CSS</b> Cascading Style Sheets<br>
          </p>
        </div>

        <div class="col-12">
          <p class="text-justify">
            It’s always necessary to make the prevention as per the requirements of health issues and make changes in diet and exercise as per suggested by doctor. But many of us failed in this modern scenario ,so, as to overcome this dietary and exercising issue we need to make a system which will guide us and make aware about the health conditions with due respect to the symptoms.
Previous method was prepared for common diseases and provide limited diet plan to the patient which makes uneasy for patient to follow the guidelines Also it didn’t suggested any exercise to overcome the relief to patient.
            <br><br>
Habitual of Regular comprehensive physical examination or daily self-measurement using medical devices, people can clearly understand the vital signs and physiological changes in order to detect the disease and treatment. Even though a number of health management systems provided from medical institutions have been developed for recording the daily health measurements, users still have to take the record to medical institutions and ask for self-care guidelines from health care providers. One need to analyze the report of regular comprehensive physical examination to calculate the health risk and provide personalized health care services for users in terms of diet and exercise guideline recommendation. So as to compensate all this features we designed the system which not only take the symptoms of patient but also helps to find out the proper exercise to be done. And the way of analyzing the problem will be satisfied with the recommendations done in the project.

          </p>
        </div>

        <div class="col-12">
          <p class="text-justify">
          <h4>Conclusion</h4>

This project aims to predict the disease on the basis of the symptoms. The project is designed in such a way that the system takes symptoms from the user as input and produces output i.e. predict disease. Average prediction accuracy probability of 55% is obtained. Disease Predictor was successfully implemented using grails framework.

          </p>
        </div>




      </div>
    </div>


{% endblock %}